<!DOCTYPE html>
<html>
  <head>
    <title>prueba</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>prueba</h1>
    <p>usuarios</p>

    <% for( let i = 0; i < user.length; i++ ) { %>
      <li>
         <%= user[i].user_id %>
         <%= user[i].user_first_name %>
         <%= user[i].user_last_name %>
         <%= user[i].user_email %>
         <%= user[i].user_password %>
         <%= user[i].image %>

      </li>
      <% } %>

  </body>
</html>