<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/fav-logo.png"> <!-- Coloco imagen en pestaña del navegador -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/product-styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e638c2695f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Wine ONE LIFE - Usuario</title>
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section class="detalle">
                <article class="imagen">
                    <% if (locals.userLogged && locals.userLogged.admin==1) { %>
                        <div class="icono-editar-producto"><a href="/users/edit/<%=user.user_id%>"><i
                                    class="fas fa-edit"></i></a>
                        </div>
                        <%}%>
                            <img class="botella-vino" src="/images/<%=user.image%>">

                </article>

                <article class="descripcion">

                    <div class="nombre-producto">
                        <p>Nombre: <%=user.user_first_name%>
                        </p>

                    </div>
                    <div class="nombre-producto">
                        <p>Apellido: <%=user.user_last_name%>
                        </p>

                    </div>
                    <div class="nombre-producto">
                        <p>Email: <%=user.user_email%>
                        </p>

                    </div>

                </article>
            </section>
            <br>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>

</html>