<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <% for( let i=0; i < user.length; i++ ) { %>
            <br>
            <section id="productos" class="productos">
                <article class="articulos">
                    <div>
                        <p class="text-user">Usuario ID - <%= user[i].user_id %>
                        </p>
                    </div>
                    <div><img class="img-user" src="/images/<%= user[i].image %>" alt="Imagen usuario">
                    </div>
                    <div>
                        <div class="text-user">
                         <div>Nombre: <%= user[i].user_first_name %></div>
                         <div>Apelido: <%= user[i].user_last_name %></div>
                         <div>Contraseña: </div>
                         <div>Email: <%= user[i].user_email %></div>
                        </div>
                    </div>
                </article>
            </section>
            <% } %>

                <%- include("../partials/footer.ejs") %>

</body>

</html>