<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link rel='stylesheet' href='/stylesheets/user-edit.css' />
</head>

<body>

    <%- include("../partials/header.ejs") %>


        <main>
            <div class="div-avatar">
                <img class="user-avatar" src="/images/<%=user.image%>">
            </div><br>
            <div class="form-cont">
            <form class="formulario" method="POST" action="/users/edit/<%=user.user_id%>" enctype="multipart/form-data">
                <div class="">
                    <label class="texto-edit" for="user_id">ID usuario:</label>
                    <input class="texto-edit" type="number" name="user_id" value="<%=user.user_id%>" readonly>
                </div><br>
                <br>
                <div class="">
                    <label class="texto-edit" for="image">Imagen de usuario:</label>
                    <input class="texto-edit" type="file" name="image" accept="image/*">
                </div><br>
                <div class="">
                    <label class="texto-edit" for="user_first_name">Nombre:</label>
                    <input class="texto-edit" type="text" name="user_first_name" value="<%=user.user_first_name%>">
                </div><br>
                <div class="">
                    <label class="texto-edit" for="user_last_name">Apellido:</label>
                    <input class="texto-edit" type="text" name="user_last_name" value="<%=user.user_last_name%>">
                </div><br>
                <div class="">
                    <label class="texto-edit" for="user_email">Email:</label>
                    <input class="texto-edit" type="email" name="user_email" value="<%=user.user_email%>">
                </div><br>
                <div class="">
                    <label class="texto-edit" for="user_password">Contraseña:</label>
                    <input class="texto-edit" type="password" placeholder="Nueva constraseña" name="user_password"
                        value="">
                </div><br>

                <% if (locals.userLogged && locals.userLogged.admin==1) { %>
                    <div>
                        <p class="texto-edit">Usuario admin:</p>
                        <label class="texto-edit" for="admin">SI</label>
                        <input class="" type="radio" name=admin value=1>
                        <label class="texto-edit" for="admin">NO</label>
                        <input class="" type="radio" name="admin" value=0>
                    </div><br>
                    <%}%>
                
                        <div class="boton">
                            <button class="boton-guardar" type="submit">Guardar <i class="far fa-save"></i></button>
                        </div>
            </form><br>


            <form class="form-delete" method="POST" action="/users/edit/delete/<%=user.user_id%>?_method=DELETE"
                enctype="multipart/form-data">
                <button class="delete" type="submit">Borrar <i class="fas fa-trash-alt"></i></button>
            </form>

        </div>
      
        </main>

</body>

</html>