<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <% for( let i=0; i < user.length; i++ ) { %>
            <section id="productos" class="productos">
                <article class="articulos">
                    <div>
                        <p>Usuario ID - <%= user[i].user_id %>
                        </p>
                    </div>
                    <div><img class="img-producto" src="/images/<%= user[i].image %>" alt="Imagen usuario">
                    </div>
                    <div>
                        <p class="">
                            <%= user[i].user_first_name %>
                            <%= user[i].user_last_name %>
                            <%= user[i].user_password %>
                            <%= user[i].user_email %> 
                        </p>
                    </div>
                </article>
            </section>
            <% } %>

                <%- include("../partials/footer.ejs") %>

</body>

</html>