<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user-detail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    

</head>

<body>
    <%- include("../partials/header.ejs") %>
    
        <main>
            <br>
    <br>
            <section class="contenedor-usuario">
                <article class="imagen-usuario">
                 
                            <img class="avatar-usuario" src="/images/<%=user.image%>">

                </article>

                <article class="datos-usuario">

                    <div class="nombre-producto">
                        <p>Nombre: <%=user.user_first_name%>
                        </p>

                    </div>
                    <div class="nombre-producto">
                        <p>Apellido: <%=user.user_last_name%>
                        </p>

                    </div>
                    <div class="nombre-producto">
                        <p>Email: <%=user.user_email%>
                        </p>

                    </div>
                    <br>
                    <% if (locals.userLogged && locals.userLogged.admin==1) { %>
                        <div class="icono-editar-usuario"><a href="/users/edit/<%=user.user_id%>"><i
                                    class="fas fa-edit"></i>Editar</a>
                        </div>
                        <%}%>

                </article>
            </section>

            <br>
            <br>
            <br>
    
        </main>
        

        <%- include("../partials/footer.ejs") %>

</body>

</html>