<!DOCTYPE html>
<html>
<%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <h2><img class="baner-cat" src="/images/<%=product[0].categories.category_name%>.png"></h2>
        <div class="back-color">
            <main class="padre-lista">
                <% for( let i=0; i < product.length; i++ ) { %>
                    <br>
                    <section id="productos" class="productos">
                        <article class="articulos">
                            <div>
                                <a href="/products/product-detail/<%=product[i].product_id%>"><img class="img-producto"
                                   src="/images/<%= product[i].image %>"></a>
                            </div>
                            <div>
                                <p class="texto-producto"><%=product[i].product_name%></p>
                            </div>
                            <div class="texto-producto">
                               <p>Precio: <%=product[i].price%></p> 
                            </div><br>
                            <div class="texto-producto">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                        </article>
                    </section>
                    <%}%>
                    <br>
        </div>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>
</html>