<!DOCTYPE html>
<html>

<%- include("../partials/head.ejs") %>

    <body>

        <%- include("../partials/header.ejs") %>

            <main class="main-sections">
            
                <h2>Categoria <%=product[1].categories%> </h2>
                <% for( let i=0; i < product.length; i++ ) { %>
                
                    <br>
                    <section id="productos" class="productos">
                        <article class="articulos">
                            <div><a href="/products/product-detail/<%=product[i].product_id%>"><img class="img-producto"
                                        src="/images/<%= product[i].image %>"></a></div>
                            <div>
                                <p class="texto-producto">
                                    <%=product[i].product_name%>
                                </p>
                            </div>
                            <div class="texto-producto">
                               <p>Precio: <%=product[i].price%></p> 
                            </div>
                            <div class="texto-producto"> <i class="fas fa-cart-arrow-down"></i></div>
                        </article>
                    </section>
                    <%}%>
                    <br>
            </main>

            <%- include("../partials/footer.ejs") %>

    </body>
</html>