<!DOCTYPE html>
<html>
<head>
<%- include("../partials/head.ejs") %>
</head>
<body>

  <%- include("../partials/header.ejs") %>

  <% for( let i=0; i < product.length; i++ ) { %>
    <br>
    <section id="productos" class="productos">
      <article class="articulos">
        <div>
          <p class="texto-producto">Categoria - <%= product[i].category_id %>
            <% if (locals.userLogged && locals.userLogged.admin == 1) { %>
            <div class="icono-editar-producto"><a href="/products/edit/<%=product[i].product_id%>"><i class="fas fa-edit"></i></a>
            </div>
            <%}%>
          </p>
        </div>
        <div><a href="/products/product-detail/<%=product[i].product_id%>"><img class="img-producto" src="/images/<%= product[i].image %>" alt="Imagen botella producto"></a></div>
        <div>
          <p class="texto-producto">
            <%= product[i].product_name %>
          </p>
        </div>
        <div class="texto-producto">
          <p>Precio: <%= product[i].price %></p>
        </div>
        <div class="texto-producto"> <i class="fas fa-cart-arrow-down"></i></div>
      </article>
    </section>
    <br>
    <% } %>

  <%- include("../partials/footer.ejs") %>

</body>

</html>