<div class="padre">

  <% for( let i=0; i < recommended.length; i++ ) { %>
    <article class="articulos one">
      <div>
        <p class="texto-producto"><%= recommended[i].categories.category_name %></p>
      </div>
      <div><a href="/products/product-detail/<%=recommended[i].product_id%>"><img class="img-producto"
            src="/images/<%= recommended[i].image %>" alt="Imagen botella producto"></a></div>
      <div>
        <b class="texto-producto">
          <%= recommended[i].product_name %>
        </b>
      </div>
      <div>
        <p class="texto-producto">
          Precio: $<%= recommended[i].price %>
        </p>
      </div>
      <div class="carro"><i class="fas fa-cart-arrow-down"></i></div>
    </article>
    <%}%>
</div>